* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
  padding: 10px 40px;
  min-height: 40px;
}

header .header__logo {
  color: black;
  font-weight: 600;
  font-size: 18px;
}

header a {
  margin: 0 10px;
  color: gray;
}

header a:focus,
header a:hover {
  color: black;
  transition: 0.3s ease-in-out;
}

footer {
  background-color: #f2f2f2;
  min-height: 40px;
  padding: 20px 40px;
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

footer a {
  margin: 0 10px;
  color: gray;
}

footer a:focus,
footer a:hover {
  color: black;
  transition: 0.3s ease-in-out;
}

.post__navigation {
  display: flex;
  gap: 12px;
  margin: 0 auto;
  max-width: 680px;
  font-size: 16px;
  color: gray;
  cursor: pointer;
  padding: 48px 20px 0 20px;
}

.post__navigation--active {
  color: black;
  font-weight: 600;
}

.post__list,
.post__detail {
  min-height: 90dvh;
  padding: 20px 40px;
  text-align: center;
  margin: 0 auto;
  text-align: left;
  line-height: 24px;
  max-width: 680px;
}

.post__box {
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid #f2f2f2;
}

.post__profile-box {
  display: flex;
  gap: 8px;
  font-size: 14px;
  align-items: center;
}

.post__profile {
  width: 36px;
  height: 36px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.post__date,
.post__author-name {
  color: gray;
}

.post__title {
  font-size: 20px;
  font-weight: 600;
  margin: 14px 0;
}

.post__text {
  color: dimgray;
  font-size: 16px;
}

.post__list a {
  text-decoration: none;
  color: black;
}

.post__utils-box {
  display: flex;
  gap: 4px;
  flex-direction: row-reverse;
  font-size: 14px;
  color: gray;
}

.delete:hover,
.delete:focus {
  color: black;
}

.edit:hover,
.edit:focus {
  color: black;
}

.post__detail .post__title {
  font-size: 36px;
  line-height: 40px;
}

.post__detail .post__utils-box {
  padding: 10px 0;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  flex-direction: row;
}

.post__detail .post__profile-box {
  padding: 10px 0;
}

.post__detail .post__text {
  padding: 10px 0;
}

.profile__box {
  display: flex;
  gap: 18px;
  align-items: center;
  font-size: 18px;
  margin: 0 auto;
  max-width: 680px;
  text-align: left;
  line-height: 24px;
  justify-content: space-between;
  padding: 20px;
}

.flex__box-lg {
  display: flex;
  gap: 18px;
  align-items: center;
}

.profile__image {
  width: 72px;
  height: 72px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.profile__logout {
  font-size: 15px;
  text-decoration: none;
  color: black;
}

.profile__name {
  font-size: 16px;
  padding-top: 4px;
}

.profile__email {
  font-weight: 500;
}

.profile__logout {
  color: gray;
  font-size: 14px;
}

.profile__logout:hover,
.profile__logout:focus {
  transition: 0.3s ease-in-out;
  color: black;
}

.carousel-container {
  max-width: 680px;
  margin: 0 auto;
}

.carousel-img {
  height: 400px;
}

.slick-dots.custom-class-name li button:before {
  font-size: 9px;
}

.arrow {
  color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  z-index: 2;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.arrow:hover {
  color: #fff;
}

.arrow.prev {
  font-size: 30px;
  left: 15px;
}

.arrow.next {
  font-size: 30px;
  right: 15px;
}

.form {
  margin: 0 auto;
  max-width: 680px;
  padding: 20px;
  margin-top: 20px;
}

.form input {
  height: 20px;
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 0.3rem;
  border: 1px solid lightgray;
  width: 96%;
  max-width: 680px;
}

.form textarea {
  min-height: 400px;
  padding: 10px 10px;
  font-size: 16px;
  line-height: 1.5;
  resize: none;
  border-radius: 0.3rem;
  border: 1px solid lightgray;
  width: 96%;
  max-width: 680px;
}

.form .form__block {
  margin-top: 20px;
  width: 100%;
}

.form label {
  display: block;
  font-weight: 500;
  margin-bottom: 10px;
}

.form .form__btn-submit {
  width: 100%;
  height: 48px;
  background-color: #2563ed;
  color: white;
  cursor: pointer;
  border: none;
  margin-bottom: 50px;
}

.form .form__btn-submit:hover,
.form .form__btn-submit:focus {
  background-color: #0045db;
}

.post__edit:hover,
.post__edit:focus,
.post__edit a:hover,
.post__edit a:focus {
  color: black;
}

.post__edit a {
  text-decoration: none;
  color: gray;
  cursor: pointer;
}

.post__delete a {
  text-decoration: none;
  color: gray;
  cursor: pointer;
}
